body{
margin: 0;  
font-family: /*"century gothic", "apple gothic", AppleGothic, "urw gothic l", "avant garde", Futura,*/ sans-serif lato;
}
input:focus {
outline:none !important;     
}
/* Navigation and intro style */
.main-header{ 
margin: 0;
width: 100%;    
}
.main-header .navbar-nav a{
margin:0;
color: #000000;
text-transform:uppercase;
transition: color 1s;
}
.main-header .navbar .navbar-collapse,.main-header .navbar .navbar-brand{
margin:0 0 0 15px;
text-decoration: none;
color: #000000;    
}
header .navbar .navbar-brand span{
color: #1e8b1e;
}
.main-header .navbar-nav a:hover,.dropbutton:hover{
color: #15a815;   
}
.main-header .navbar { 
box-shadow:0 1px 0 0 #575757;
width: 100%;	
}
/*.dropbutton{
border: none; 
background:rgba(255, 255, 255, 0);
outline: none;
font-weight: normal;
text-transform: uppercase;       
}*/
.dropdown-menu{
position: absolute;
top: 47px;
border-radius:0; 
outline:none;          
background: #ffffff;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;           
}
.dropdown-item{
padding: 10px 5px 10px 5px;          
}
.dropdown-item:hover{background: rgb(255, 255, 255);}
.dropdown-menu .dropdown-item:not(:last-child){
border-bottom:1px solid #000000;          
}
.main-header .custom-toggler {
top: 2px;
right: 0;	
}
.main-header .custom-modal-header .modal-title{
text-align: center;
padding:20px 0 0 0;
margin: 0;    
}
.main-header .custom-modal-header .close{
position: absolute;
top: 10px;
right: 10px;   
}
.main-header .intro{
background: url(../images/intro.png);
background-attachment: scroll;
background-size: cover;
background-position: center;
margin: 0;
width: 100%;    
}
.main-header .intro-text{
text-align: center;    
text-shadow: 0 0 15px 2px #cbcbcb;
color: #ffffff;   
margin-bottom: 30px;
}
.main-header .intro-a-text{
text-align: center;    
text-shadow: 0 0 15px 2px #cbcbcb;  
}
.main-header.intro-a-text a{
color: #ffffff;    
text-decoration: none;    
}

.mainSearch input[type=text]{
float: left;
padding: 10px;
border: 1px solid #1d8000;
border-right: none; /* Prevent double borders */
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
width: 90%;
height: 46px;     
}
.advanced-search .adv-search-input{
float: left;
padding: 10px;
border: 1px solid #1d8000;
border-right: none; /* Prevent double borders */
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
width: 40%;
height: 46px;     
} 
.advanced-search .opt-select,.advanced-search .opt-select{
float: left;
padding: 10px;
border: 1px solid #1d8000;
border-left: none; /* Prevent double borders */
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
width: 25%;
height: 46px;    
} 
option{
padding: 10px;
border: 1px solid #1d8000;
outline: none;    
height: 46px;     
}
.subscribe .row{
margin:5px;    
}
.subscribe{
width: 100%;
margin: 16px 0 16px 0;
background: url(../images/subs.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: #ffffff;
padding:5rem 0 5rem 0;    
}
.Onright-subs{
text-transform: capitalize;
margin: 16px 0 16px 0;
background:rgba(203, 203, 203, 0.78);   
}
.Onright-subs .subsname,.Onright-subs .subsmail{
width: 100%;
padding: 10px;
margin-bottom: 20px;          
border: 1px solid #1d8000;
outline: none;
height: 46px;     
}
.subsname,.subsmail{
float: left;
padding: 10px;
border: 1px solid #1d8000;
border-left: none; /* Prevent double borders */
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
width:45%; 
height: 46px;     
}
.Onright-subs .subs-sb{
width: 100%;          
padding: 10px;
margin-bottom: 16px;
border: 1px solid #1d8000;
outline: none;
height: 46px;     
}
.subs-sb{
float: left;
padding: 10px;
border: 1px solid #1d8000;
border-left: none; /* Prevent double borders */
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
width: 10%;
height: 46px;     
}
.input[type=email],input[type=text] {
border: 1px solid #1d8000;
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
border-radius:0; 
}
.mainSearch .search-sb,.advanced-search .adv-search-sb{
float: left;
width: 10%;
height: 46px;    
padding: 10px;
background: #1d8000;
color: #ffffff;
border: 1px solid #1d8000;
border-left: none; /* Prevent double borders */
/*box-shadow: 0 0 15px 2px rgba(2, 3, 3, 0.5);*/
outline: none;
cursor: pointer;
transition: color 1s ease-in;    
}
.mainSearch::after{
content: "";
clear: both;
display: table;
}
.nav-bottom{
margin:0;  
box-shadow:0 1px 0 0 #575757;
width: 100%;
}
.nav-bottom .nav-link{ 
color: #000000;
text-transform: capitalize;
margin: 0;
padding:10px;
display: inline-block;    
transition: color 1sec ease-in;
}
.nav-inner{ 
padding:0 16px 0 16px;
}
.nav-bottom .nav-link:hover{  
color: #ffffff;
background: #1d8000;
}
/* main-content tyle*/
.not-approved-medicine,.approved-medicine,.medicine-news,.shopsAvailable{
margin:0;    
padding:15px 0 15px 0;   
}
.viewmore-container{
text-align: right;
}
.viewMore,.send{
margin:20px 15px 0 0;    
text-decoration: none;    
border: 0;
border-radius: 0;
color: #ffffff;    
background: #1d8000;
transition: color 1s ease-in;     
transition: background 1s ease-in;    
}
.viewMore:hover,.send:hover{ 
color: #000000;    
background: #ffffff;    
}
.shops-by-region{ 
margin: 5px;          
}
.shops-by-region .region-name{ 
padding:5px 2px 5px 2px;
background: rgba(203, 203, 203, 0.78);
color: rgba(60, 60, 60, 0.83);
text-align: center;          
}
.shops-by-region span,.shops-by-region a{ 
padding:5px 2px 5px 2px;
}
.not-approved-medicine .apprnot-controls-top,.approved-medicine .appr-controls-top,.medicine-news .news-controls-top,.shopsAvailable .shop-controls-top{
margin:16px;
border-bottom:1px solid #000000;   
}
.not-approved-medicine .apprnot-controls-top .le,.approved-medicine .appr-controls-top .le,.not-approved-medicine .apprnot-controls-top .controls-top,.approved-medicine .appr-controls-top .controls-top,.medicine-news .news-controls-top .le,.medicine-news .news-controls-top .controls-top,.shopsAvailable .shop-controls-top .le,.shopsAvailable .shop-controls-top .controls-top{
display: inline-block;
}
.not-approved-medicine .apprnot-controls-top .controls-top,.approved-medicine .appr-controls-top .controls-top,.medicine-news .news-controls-top .controls-top,.shopsAvailable .shop-controls-top .controls-top{
float: right;
}
.not-approved-medicine .apprnot-controls-top .controls-top i,.approved-medicine .appr-controls-top .controls-top i,.medicine-news .news-controls-top .controls-top i,.shopsAvailable .shop-controls-top .controls-top i{
padding:4px;	
background:#1d8000;
color: #ffffff;
transition:background 2s;
}
.not-approved-medicine .apprnot-controls-top .controls-top i:hover,.approved-medicine .appr-controls-top .controls-top i:hover,.medicine-news .news-controls-top .controls-top i:hover,.shopsAvailable .shop-controls-top .controls-top i:hover{
background:#000000;
}
.not-approved-medicine .figure-caption,.approved-medicine .figure-caption,.shopsAvailable .figure-caption 
{background:#ffffff;}

.medicine-news p{
text-align: justify;  
}
.medicine-news a:not(.viewMore){
text-decoration: none;
color:#3cb917;
transition: color 1s ease-in;    
}
.shopsAvailable a:not(.viewMore){
text-decoration: none;
color:#000000;
transition: color 1s ease-in;    
}
.medicine-news p,.shopsAvailable h5,.shopsAvailable span{
padding: 4px 0 4px 0; 
margin: 0;    
}
.shopsAvailable .figure-caption{
text-align: center;
padding: 4px 0 4px 0;    
}
.medicine-news a:hover:not(.viewMore){
color:#1e15ff;  
}
.medicine-news .row{
margin:0;    
}
.medicine-news .h5{
margin:0;    
}
.create-account {
color: #000000;       
}
.create-account .modal-content{
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;    
border-radius: 0 !important;      
}
.create-account .log-head,.create-account .reg-head,.create-account .pw-head{text-align: center; text-transform: uppercase;}
.displayNone{display: none;}
.create-account .check-link .form-check,.create-account  .check-link .pwd-link{
display: inline-block;    
}
.create-account  .check-link .pwd-link{
float: right;    
}
.create-account  .check-link .pwd-link a,.create-account  .acc-link a{
text-decoration: none;
color: #000000;
transition:color 2s;    
}
.create-account  .check-link .pwd-link a:hover,.create-account  .acc-link a:hover{
color:#008600;  
}
.create-account  .signIn,.create-account .signup,.rstpass{
background:#008600;
color: #ffffff;    
}
.create-account  .acc-link p{
text-align: center;    
}
/* About and contact us style*/
.medi-container{
margin:0;
padding:10px 0 20px 0;           
}
.inner-container{
margin:0 13px 0 13px;    
}
.main-header .aintro, .main-header .cintro {
margin: 0;
padding-left: 0;
padding-right: 0;
color: #ffffff;
background: rgba(203, 203, 203, 0.78);    
text-align: left;
width: 100%;
}
.main-header .aintro .slogan,.main-header .cintro .slogan{
background: rgba(29, 128, 0, 0.81);
padding: 15px;
margin: 0 0 0 16px;
}
.main-header .aintro .stitle, .main-header .aintro .sdesc,.main-header .cintro .stitle, .main-header .cintro .sdesc{
margin: 0;
padding: 10px;
}
.main-header .aintro .mahenda-link{
text-decoration:underline;
color: #ffffff; 
}
.main-header .intro .advclick{
text-decoration:none;
color: #ffffff; 
}
.main-header .aintro .advclick{
text-decoration:none;
color: #1d8000; 
}
.team-container .sta-img{
width: 200px;
height:200px;
margin: auto;    
border:1px solid rgb(0, 0, 0);   
border-radius:50%;
overflow:hidden;
position: relative;;
cursor: default;
-moz-box-shadow: 
inset 0 0 0 16px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 
inset 0 0 0 16px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.5);
box-shadow: 
inset 0 0 0 16px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.5);
transition:all 0.4s ease-in-out;     
}
.team-container .sta-info{
position: absolute;
background:rgba(0, 0, 0, 0.6); 
width: inherit;
height: inherit;
margin: auto;
border-radius: 50%;
overflow: hidden;
opacity: 0;
transition: all 0.5s ease-in-out;
transform: scale(0);
text-align: center;

}
.team-container .sta-img:hover{
-moz- box-shadow: 
inset 0 0 0 16px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1);
-webkit- box-shadow: 
inset 0 0 0 16px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1);
box-shadow: 
inset 0 0 0 16px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1);
}
.team-container .sta-img:hover .sta-info{
transform: scale(1);
opacity: 1;
}
.team-container .sta-img-1{
background: url(../images/tete.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: contain; 
}
.team-container .sta-img-2{
background: url(../images/tete.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;   
}
.team-container .sta-img-3{
background: url(../images/tete.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;    
}

.team-container .sta-info .name-position{
color: #ffffff;
padding: 10px;
position: absolute;
top: 50px;
left: 0;
right: 0;    
}
/*contact-form*/
.cont-form-group .cont-input{
margin:8px 0 5px 0;     
padding: 10px;
border: 1px solid #1d8000;
outline: none;
width: 100%;   
}
/*medicine style*/
.medi-list,.des-list{
margin: 0;
}
.medi-container .medi-heading{
margin: 20px 5px 20px 5px;       
}
.medi-list .medicine,.des-list .desease{
margin:1px;
padding:10px;
color:#000000;
background: rgba(203, 203, 203, 0.78);    
display:list-item;
list-style-type: none;
list-style-type: none;
text-decoration: none; 
}
.medi-list .fa-thumbs-up{
color:#1d8000; 
float: right; 
display: none;          
}
table.dataTable th,
table.dataTable td {
white-space: nowrap;
}
.dataTables_wrapper .row:first-child{
display: none;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{background:#38a01a}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{content:'-';background:rgba(203, 203, 203, 0.78)}

.dataTables_wrapper .medi-desc,.dataTables_wrapper .medi-presc{
text-decoration: none;
margin: 0;    
}
.page-item.active .page-link {
z-index: 2;
color: #fff;
background-color: #1d8000;
border-color: #1d8000;
}
.nav-pagination{
margin: 16px;        
}
/* Footer style*/
.footer {
position: relative;
margin:0; 
padding:40px 0 40px 0;
background: rgba(203, 203, 203, 0.78);
}
.footer-logo span{
color: rgb(33, 172, 0);   
}
.footer .row{
margin:1px;	
}
.footer h6{
color:#000000;
} 
.footer a,.footer p{
text-decoration: none;
color: #000000;
text-transform: capitalize;  
transition: color 1s ease-in;
}
.footer a:hover{ color: #1d8000;}
.footer h6:after {
content: " ";
display: block;
margin: 5px 0 0 0;
width: 150px;
height: 2px;
background: #000000;
}
.footer ul {
list-style: none;
line-height: 2.2em;
padding-left:0px;
}
.footer-bottom {
padding:10px;
background: rgba(203, 203, 203, 0.78);
color: #000000;   
}
.social-icons-block{
margin: 0;    
padding: 10px;
border-top: 1px solid rgba(255, 255, 255, 0.72);    
background: rgba(203, 203, 203, 0.78);
}
.social-icons-block .social-icons{
margin:7px 7px 7px 0px;
color:#000000;
text-decoration: none;    
transition:color 1s ease-in; 
}
.social-icons .fa-facebook-square:hover {
color:#1e15ff;
}
.social-icons .fa-twitter-square:hover {
color:#1e15ff;
}
.social-icons .fa-youtube-square:hover {
color:#ff1515;
}
.social-icons .fa-rss-square:hover {
color:#ff8900;
}
#map{
width: 100%;
height: 400px;    
}
@media (max-width:575.98px){
.navbar .container {
margin:0;
}
.navbar-collapse a:not(:last-child){
border-bottom:1px solid #ccc;
}
.nav-bottom .nav-bottom-link:not(:last-child)     {
border-bottom:1px solid #000000;
}
.main-header .nav-bottom .nav-bottom-link{ 
display: list-item;
list-style: none;
text-align: center;
} 
.main-header .intro .mainSearch .search-sb,
.main-header .intro .mainSearch input[type=text] {
width: 100%;
margin:10px 0 10px 0;        
} 
.medi-container .medi-heading{
text-align: center;
} 
.subsname,.subsmail,.subs-sb{
width: 100%;
margin:10px 0 10px 0;           
} 
.advanced-search .adv-search-input,.advanced-search .opt-select,.advanced-search .adv-search-sb{
width: 100%;
margin:10px 0 10px 0;           
} 
.footer {
text-align: center; 
}    
.footer h6:after {
width: 100%;
}
}